<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Register</h1>

    <div class="well">
      <form role="form" ng-submit="vm.register()">
        <div class="form-group">
          <label for="register__telephone">手机号</label>
          <input type="text" class="form-control" id="register__telephone" ng-model="vm.telephone" placeholder="" />
        </div>

        <div class="form-group">
          <label for="register__nickname">用户名</label>
          <input type="text" class="form-control" id="register__nickname" ng-model="vm.nickname" placeholder="" />
        </div>

        <div class="form-group">
          <label for="register__password">密码</label>
          <input type="password" class="form-control" id="register__password" ng-model="vm.password" placeholder="" />
        </div>

        <div class="form-group">
          <label for="register__captcha">验证码</label>
          <input type="text" class="form-control" id="register__captcha" ng-model="vm.captcha" placeholder="" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>