# Python compiled byte code
*.pyc
*.so
*.egg
*.egg-info
dist
build

# SQLite3 database
*.sqlite3

# Node modules
node_modules/

# Bower components
front_end/static/bower_components/

# User uploaded files
front_end/media

# Uglified JavaScript
dist/

# Staticfiles
staticfiles/

# .idea
.idea/

# database config file
back_end/indigen/config.conf

