<div>






    <form role="form" ng-submit="vm.submit()">
        <div>
            国家
            <select ng-model="vm.formdata.verify_country">
                <option value="美国">美国</option>
                <option value="澳大利亚">澳大利亚</option>
            </select>

            <input type="text" ng-model="vm.formdata.verify_telephnoe" />
            <a class="btn btn-primary" id="sendCode">免费获得激活码</a>
        </div>

        <div>
            居住城市:
            <select ng-model="vm.formdata.verify_city">
                <option value="90">加州</option>
                <option value="80">悉尼</option>
            </select>

            居住开始:
            <input type="text" ng-model="vm.formdata.live_start_year" />
            <br>

        </div>


        <div>>
            本人身份证:
            <div class="img-box" ngf-select ng-model="file" ngf-multiple="false">Select File</div>
            <br>
        </div>


        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>

    Upload Log:
    <pre>{{vm.log}}</pre>

</div>




        