<div>

    <div>>
        头像
        <div class="img-box" ngf-select ng-model="file" ngf-multiple="false">Select File</div>
        <br>
    </div>

    <br>


    <form role="form" ng-submit="vm.submit()">
        <div>
            性别:
            <label>
            <input type="radio" ng-model="vm.formdata.ismale"  value="1" /> 男
            </label>
            <span>
            <label>
            <input type="radio" ng-model="vm.formdata.ismale"  value="0" /> 女
            </label>

        </div>

        <div>
            年龄
            <select name="age" ng-model="vm.formdata.age" id="age">
                <option value="90">90后</option>
                <option value="80">80后</option>
                <option value="70">70后</option>
                <option value="60">60后</option>
                <option value="50">50后</option>
            </select>
        </div>

        <div>
            自我介绍
            <textarea name="ps" id="ps" ng-model="vm.formdata.service_introduction" rows="5" cols="50"></textarea>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>

    Upload Log:
    <pre>{{vm.log}}</pre>

</div>




        